<div ng-controller="drumPad">
	<label>BPM:</label>
	<input type="number" ng-model="tempo"></input>
	<div class="grid">
		<div class="sound-icons-column">
			<div class="icons">
				<div class="icon" ng-repeat="sound in sounds track by $index">{{$index + 1}}</div>
			</div>
		</div>
		<div class="column" ng-repeat="step in [].constructor(numberOfSteps) track by $index" ng-init="beatIndex = $index">
			<div class="sounds">
				<div
					class="sound"
					data-beatindex="{{beatIndex}}"
					ng-class="{active: sound === beat[beatIndex]}"
					ng-repeat="sound in sounds track by $index"
					ng-click="updateBeat(sound, beatIndex)">
				</div>
			</div>
		</div>
	</div>
	<button ng-click="startOrStopBeat()">{{beatIsPlaying ? 'Stop' : 'Play' }}</button>

</div>
