@kickColor: #44AE43;
@snareColor: #FB004A;
@closedHatColor: #FC7F08;
@openHatColor: #FFFB4B;
@tomsColor: #29C7DE;
@percussionColor: #D200FF;
@fxColor: #2087FE;
@synthColor: #C1161F;
@backgroundColor: #101012;

@colors: @kickColor,  @snareColor, @closedHatColor, @openHatColor, @tomsColor, @percussionColor, @fxColor, @synthColor;

body {
	background: @backgroundColor;
}

.home-link {
	color: white;
	text-decoration: none;
}

.controls {
	display: flex;
	align-items: center;
	margin-top: 20px;
	label {
		color: white;
		margin-right: 5px;
	}
	.play-pause-button {
		width: 30px;
		height: 30px;
		margin-right: 10px;
		&.play {
			background-image: url('../assets/images/play-button.svg');
			background-size: 100% 100%;
		}
		&.pause {
			background-image: url('../assets/images/pause-button.svg');
			background-size: 100% 100%;
		}
	}
}

.tempo {
	color: white;
	background: @backgroundColor;
	border: 0;
}

.grid {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	.column {
		flex: 1;
	}
}

.sound-icons-column {
	flex: 0.5;
	.icons {
		display: flex;
		flex-direction: column;
		color: white;
		.icon {
			flex: 1;
			margin: 1px;
			height: 35px;
			&.instrument-icon-0 {
				background-image: url('../assets/images/goblet-drum.svg');
				background-size: 100% 100%;
			}
			&.instrument-icon-1 {
				background-image: url('../assets/images/snare-drum.svg');
				background-size: 100% 100%;
			}
			&.instrument-icon-2 {
				background-image: url('../assets/images/cymbals.svg');
				background-size: 100% 100%;
			}
			&.instrument-icon-3 {
				background-image: url('../assets/images/tambourine.svg');
				background-size: 100% 100%;
			}
			&.instrument-icon-4 {
				background-image: url('../assets/images/conga.svg');
				background-size: 100% 100%;
			}
			&.instrument-icon-5 {
				background-image: url('../assets/images/maraca.svg');
				background-size: 100% 100%;
			}
			&.instrument-icon-6 {
				background-image: url('../assets/images/piano.svg');
				background-size: 100% 100%;
			}
			&.instrument-icon-7 {
				background-image: url('../assets/images/synthesizer.svg');
				background-size: 100% 100%;
			}
		}
	}
}

.sounds {
	display: flex;
	flex-direction: column;
	.sound {
		flex: 1;
		background: #292929;
		min-width: 25px;
		height: 35px;
		margin: 1px;
		&.current-beat {
			background: #434547;
		}
		&.active {
			&.row-0 {
				background: @kickColor;
			}
			&.row-1 {
				background: @snareColor;
			}
			&.row-2 {
				background: @closedHatColor;
			}
			&.row-3 {
				background: @openHatColor;
			}
			&.row-4 {
				background: @tomsColor;
			}
			&.row-5 {
				background: @percussionColor;
			}
			&.row-6 {
				background: @fxColor;
			}
			&.row-7 {
				background: @synthColor;
			}
			&.playing {
				background: white;
			}
		}
	}
}
